#center-part {
    position: relative;
    width: 100%;
    display: flex;
    top: 80px;
}

// sidebar


#main-center {
    // position: relative;
    // border: 5px solid green;
    // height: 100vh;
    width: 85%;
    right: 0;
    position: absolute;

    #center-inside {
        padding-top: 7vh;
        width: 90%;
        margin: auto;


        .inside-boxes {

            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 40px 0;

            .box-in {

                width: 23%;
                display: block;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-top: 4px solid #1c1f3f;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                padding: 10px 10px;
                text-decoration: none;
                color: #000;

                .box-bottom {
                    // padding-top: 20px;

                    .bottom-span {
                        font-size: 2em !important;
                        display: flex;
                        justify-content: center;
                    }
                }
            }




        }


        .inside-searchbar {
            width: 100%;
            // height: 20vh;
            // border: 1px solid red;

            // margin-top: 40px;

            #searchForm {
                // width: 80%;
                display: flex;
                // justify-content: space-between;
            }

            #searchInp {
                width: 95%;
                padding: 5px 20px;
                outline: none;
                border: 1px solid #1c1f3f;
            }

            #searchBtn {
                padding: 5px 15px;
                background-color: #1c1f3f;
                color: white;
                border: none;

            }
        }

        .inside-table {

            padding-top: 30px;
        }


        .container {
            width: 100%;
            border: 1px solid red;
        }

        table th,
        table td {
            text-align: center;
        }

        table td {
            a {
                display: block;
                text-decoration: none;
                color: black;


            }
        }

        table tr:nth-child(even) {

            background-color: #1c1f3f;

            td {
                a {
                    color: white;

                }
            }
        }

        .pagination {
            width: 100%;
            display: flex;
            justify-content: center;

            .pagination-list {
                display: flex;
                list-style: none;

                li {

                    .prev-button.disabled,
                    .next-button.disabled {
                      pointer-events: none;
                      opacity: 0.5;
                    }
                    
                    a {
                        text-decoration: none;
                        color: #1c1f3f;
                        padding: 5px;
                        margin: 2px;
                        border: 1px solid #DECB25;

                        &.active{
                            background-color: #1c1f3f; 
                            color: #fff;
                        }
                    }

                   

                }
            }
        }


    }


}