#not-found-page{
    width: 100%;
    height: 100vh;
    background-color: #1c1f3f;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    .not-found-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: #DECB25;
            font-style: bold;
        }

        a{
            text-decoration: none;
            color: #1c1f3f;

            background-color: #DECB25;
            padding: 10px;
            border: none;
            margin-top: 50px;
            transition: .3s ease-in-out;
            font-style: bold;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    

    
}