#user-details-body {

    width: 100%;
    top: 120px;
    position: relative;

    .container80 {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }



    .user-details-inside {
        width: 75%;
        position: relative;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        // height: 50vh;
        padding-bottom: 50px;
        .details-card-header {
            padding: 5px 15px;
            border-bottom: 1px solid #1c1f3f;

        }



        .details-card-body {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 15px;
            form{
                width: 60%;
                text-align: center;
            }

            label {
                display: block;
                float: left;
                text-align: left;
                clear: left;
            }

            input {
                display: block;
                padding: 5px 15px;
                margin: 10px 0;
                width: 100%;
                border: 1px solid #DECB25;
                outline: none;
                caret-color:#1c1f3f ;
            }

          
        }
    }


    
}